# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# Исключения для некоторых необходимых файлов .idea
!.idea/modules.xml
!.idea/misc.xml
!.idea/compiler.xml
!.idea/jarRepositories.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Дополнительные исключения для Docker
**/.gitignore
**/.mvn/
**/mvnw
**/mvnw.cmd
**/logs/
**/*.log
**/*.bak
**/*.swp
**/bin/
**/build/
**/out/
**/dist/
**/node_modules/